body {
    margin: 0;
    color: #fff;
    font-family: "Verdana", sans-serif;
}



#header {      
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    }



#header-content {
    position: absolute;    
    text-transform: uppercase;
    text-align: left;
    }


#header-content h2 {
    font-size: 1em;
}

#header-content h3 {
    font-size: 1.5em;
}


